/* styles.css */

/* Général */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

/* Wrapper */
.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1; /* Permet au wrapper de croître pour occuper tout l'espace disponible */
}

/* Header */
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    color: red;
}

.logo {
    height: 50px;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav li {
    margin-left: 20px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav a:hover {
    text-decoration: underline;
}

/* Hero Section */
.hero {
    background-image: url('ressources/35.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero-logo {
    height: 100px;
}

.hero h1 {
    margin: 20px 0 0;
    font-size: 2.5em;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%; /* Assure que le footer occupe toute la largeur */
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav ul {
        flex-direction: column;
        margin-top: 10px;
    }

    .nav li {
        margin: 10px 0;
    }
}
