/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

#hero {
    background: #dbe2e6; /* Couleur temporaire */
    color: #333;
    text-align: center;
    padding: 100px 20px;
    margin-top: 60px;
}

.hero-content h2 {
    font-size: 3em;
    margin: 0;
}

.hero-content p {
    font-size: 1.5em;
}

.btn {
    text-decoration: none;
    background-color: #333;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #555;
}

#gallery {
    background: #eaeaea; /* Couleur temporaire */
    padding: 60px 20px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#about {
    background: #f4f4f4; /* Couleur temporaire */
    padding: 60px 20px
